<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2p.dao.RechargeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.p2p.entity.RechargeRecord" >
    <id column="pay_id" property="payId" jdbcType="INTEGER" />
    <result column="pay_money" property="payMoney" jdbcType="DECIMAL" />
    <result column="down_order_time" property="downOrderTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="charge_type" property="chargeType" jdbcType="INTEGER" />
    <result column="trade_code" property="tradeCode" jdbcType="VARCHAR" />
    <result column="pay_comment" property="payComment" jdbcType="VARCHAR" />
    <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="audit_user_id" property="auditUserId" jdbcType="INTEGER" />
    <result column="audit_statue" property="auditStatue" jdbcType="INTEGER" />
    <result column="audit_comment" property="auditComment" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pay_id, pay_money, down_order_time, pay_time, charge_type, trade_code, pay_comment, 
    pay_status, create_user_id, audit_user_id, audit_statue, audit_comment, audit_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_recharge_record
    where pay_id = #{payId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_recharge_record
    where pay_id = #{payId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.p2p.entity.RechargeRecord" >
    insert into t_recharge_record (pay_id, pay_money, down_order_time, 
      pay_time, charge_type, trade_code, 
      pay_comment, pay_status, create_user_id, 
      audit_user_id, audit_statue, audit_comment, 
      audit_time)
    values (#{payId,jdbcType=INTEGER}, #{payMoney,jdbcType=DECIMAL}, #{downOrderTime,jdbcType=TIMESTAMP}, 
      #{payTime,jdbcType=TIMESTAMP}, #{chargeType,jdbcType=INTEGER}, #{tradeCode,jdbcType=VARCHAR},
      #{payComment,jdbcType=VARCHAR}, #{payStatus,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER},
      #{auditUserId,jdbcType=INTEGER}, #{auditStatue,jdbcType=INTEGER}, #{auditComment,jdbcType=VARCHAR},
      #{auditTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.p2p.entity.RechargeRecord" >
    insert into t_recharge_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        pay_id,
      </if>
      <if test="payMoney != null" >
        pay_money,
      </if>
      <if test="downOrderTime != null" >
        down_order_time,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="chargeType != null" >
        charge_type,
      </if>
      <if test="tradeCode != null" >
        trade_code,
      </if>
      <if test="payComment != null" >
        pay_comment,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="auditUserId != null" >
        audit_user_id,
      </if>
      <if test="auditStatue != null" >
        audit_statue,
      </if>
      <if test="auditComment != null" >
        audit_comment,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        #{payId,jdbcType=INTEGER},
      </if>
      <if test="payMoney != null" >
        #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="downOrderTime != null" >
        #{downOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chargeType != null" >
        #{chargeType,jdbcType=INTEGER},
      </if>
      <if test="tradeCode != null" >
        #{tradeCode,jdbcType=VARCHAR},
      </if>
      <if test="payComment != null" >
        #{payComment,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="auditUserId != null" >
        #{auditUserId,jdbcType=INTEGER},
      </if>
      <if test="auditStatue != null" >
        #{auditStatue,jdbcType=INTEGER},
      </if>
      <if test="auditComment != null" >
        #{auditComment,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.p2p.entity.RechargeRecord" >
    update t_recharge_record
    <set >
      <if test="payMoney != null" >
        pay_money = #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="downOrderTime != null" >
        down_order_time = #{downOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chargeType != null" >
        charge_type = #{chargeType,jdbcType=INTEGER},
      </if>
      <if test="tradeCode != null" >
        trade_code = #{tradeCode,jdbcType=VARCHAR},
      </if>
      <if test="payComment != null" >
        pay_comment = #{payComment,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="auditUserId != null" >
        audit_user_id = #{auditUserId,jdbcType=INTEGER},
      </if>
      <if test="auditStatue != null" >
        audit_statue = #{auditStatue,jdbcType=INTEGER},
      </if>
      <if test="auditComment != null" >
        audit_comment = #{auditComment,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pay_id = #{payId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.p2p.entity.RechargeRecord" >
    update t_recharge_record
    set pay_money = #{payMoney,jdbcType=DECIMAL},
      down_order_time = #{downOrderTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      charge_type = #{chargeType,jdbcType=INTEGER},
      trade_code = #{tradeCode,jdbcType=VARCHAR},
      pay_comment = #{payComment,jdbcType=VARCHAR},
      pay_status = #{payStatus,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      audit_user_id = #{auditUserId,jdbcType=INTEGER},
      audit_statue = #{auditStatue,jdbcType=INTEGER},
      audit_comment = #{auditComment,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP}
    where pay_id = #{payId,jdbcType=INTEGER}
  </update>
</mapper>