<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2p.dao.ReceivePlanMapper" >
  <resultMap id="BaseResultMap" type="com.p2p.entity.ReceivePlan" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="return_id" property="returnId" jdbcType="INTEGER" />
    <result column="borrow_id" property="borrowId" jdbcType="INTEGER" />
    <result column="loan_name" property="loanName" jdbcType="VARCHAR" />
    <result column="phase" property="phase" jdbcType="VARCHAR" />
    <result column="receive_money" property="receiveMoney" jdbcType="DECIMAL" />
    <result column="receive_interest" property="receiveInterest" jdbcType="VARCHAR" />
    <result column="receive_principal" property="receivePrincipal" jdbcType="DECIMAL" />
    <result column="interest_fee" property="interestFee" jdbcType="DECIMAL" />
    <result column="receive_user_id" property="receiveUserId" jdbcType="INTEGER" />
    <result column="receive_date" property="receiveDate" jdbcType="TIMESTAMP" />
    <result column="actual_receive_date" property="actualReceiveDate" jdbcType="TIMESTAMP" />
    <result column="receive_status" property="receiveStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, return_id, borrow_id, loan_name, phase, receive_money, receive_interest, receive_principal, 
    interest_fee, receive_user_id, receive_date, actual_receive_date, receive_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_receive_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_receive_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.p2p.entity.ReceivePlan" >
    insert into t_receive_plan (id, return_id, borrow_id, 
      loan_name, phase, receive_money, 
      receive_interest, receive_principal, interest_fee, 
      receive_user_id, receive_date, actual_receive_date, 
      receive_status)
    values (#{id,jdbcType=INTEGER}, #{returnId,jdbcType=INTEGER}, #{borrowId,jdbcType=INTEGER}, 
      #{loanName,jdbcType=VARCHAR}, #{phase,jdbcType=VARCHAR}, #{receiveMoney,jdbcType=DECIMAL}, 
      #{receiveInterest,jdbcType=VARCHAR}, #{receivePrincipal,jdbcType=DECIMAL}, #{interestFee,jdbcType=DECIMAL}, 
      #{receiveUserId,jdbcType=INTEGER}, #{receiveDate,jdbcType=TIMESTAMP}, #{actualReceiveDate,jdbcType=TIMESTAMP}, 
      #{receiveStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.p2p.entity.ReceivePlan" >
    insert into t_receive_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="returnId != null" >
        return_id,
      </if>
      <if test="borrowId != null" >
        borrow_id,
      </if>
      <if test="loanName != null" >
        loan_name,
      </if>
      <if test="phase != null" >
        phase,
      </if>
      <if test="receiveMoney != null" >
        receive_money,
      </if>
      <if test="receiveInterest != null" >
        receive_interest,
      </if>
      <if test="receivePrincipal != null" >
        receive_principal,
      </if>
      <if test="interestFee != null" >
        interest_fee,
      </if>
      <if test="receiveUserId != null" >
        receive_user_id,
      </if>
      <if test="receiveDate != null" >
        receive_date,
      </if>
      <if test="actualReceiveDate != null" >
        actual_receive_date,
      </if>
      <if test="receiveStatus != null" >
        receive_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="returnId != null" >
        #{returnId,jdbcType=INTEGER},
      </if>
      <if test="borrowId != null" >
        #{borrowId,jdbcType=INTEGER},
      </if>
      <if test="loanName != null" >
        #{loanName,jdbcType=VARCHAR},
      </if>
      <if test="phase != null" >
        #{phase,jdbcType=VARCHAR},
      </if>
      <if test="receiveMoney != null" >
        #{receiveMoney,jdbcType=DECIMAL},
      </if>
      <if test="receiveInterest != null" >
        #{receiveInterest,jdbcType=VARCHAR},
      </if>
      <if test="receivePrincipal != null" >
        #{receivePrincipal,jdbcType=DECIMAL},
      </if>
      <if test="interestFee != null" >
        #{interestFee,jdbcType=DECIMAL},
      </if>
      <if test="receiveUserId != null" >
        #{receiveUserId,jdbcType=INTEGER},
      </if>
      <if test="receiveDate != null" >
        #{receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualReceiveDate != null" >
        #{actualReceiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveStatus != null" >
        #{receiveStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.p2p.entity.ReceivePlan" >
    update t_receive_plan
    <set >
      <if test="returnId != null" >
        return_id = #{returnId,jdbcType=INTEGER},
      </if>
      <if test="borrowId != null" >
        borrow_id = #{borrowId,jdbcType=INTEGER},
      </if>
      <if test="loanName != null" >
        loan_name = #{loanName,jdbcType=VARCHAR},
      </if>
      <if test="phase != null" >
        phase = #{phase,jdbcType=VARCHAR},
      </if>
      <if test="receiveMoney != null" >
        receive_money = #{receiveMoney,jdbcType=DECIMAL},
      </if>
      <if test="receiveInterest != null" >
        receive_interest = #{receiveInterest,jdbcType=VARCHAR},
      </if>
      <if test="receivePrincipal != null" >
        receive_principal = #{receivePrincipal,jdbcType=DECIMAL},
      </if>
      <if test="interestFee != null" >
        interest_fee = #{interestFee,jdbcType=DECIMAL},
      </if>
      <if test="receiveUserId != null" >
        receive_user_id = #{receiveUserId,jdbcType=INTEGER},
      </if>
      <if test="receiveDate != null" >
        receive_date = #{receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualReceiveDate != null" >
        actual_receive_date = #{actualReceiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveStatus != null" >
        receive_status = #{receiveStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.p2p.entity.ReceivePlan" >
    update t_receive_plan
    set return_id = #{returnId,jdbcType=INTEGER},
      borrow_id = #{borrowId,jdbcType=INTEGER},
      loan_name = #{loanName,jdbcType=VARCHAR},
      phase = #{phase,jdbcType=VARCHAR},
      receive_money = #{receiveMoney,jdbcType=DECIMAL},
      receive_interest = #{receiveInterest,jdbcType=VARCHAR},
      receive_principal = #{receivePrincipal,jdbcType=DECIMAL},
      interest_fee = #{interestFee,jdbcType=DECIMAL},
      receive_user_id = #{receiveUserId,jdbcType=INTEGER},
      receive_date = #{receiveDate,jdbcType=TIMESTAMP},
      actual_receive_date = #{actualReceiveDate,jdbcType=TIMESTAMP},
      receive_status = #{receiveStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>